[Unit]
Description=m15-worker foz

[Service]
Type=oneshot
ExecStart=/usr/bin/m15-worker foz -src=v -srv=v -key=v -tag=v -mgn=v -mto=v
User=m15
Group=m15
